/* Estilos Gerais */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: #333;
}

h1 {
  color: #555;
}

/* Estilos de Contêiner */
.container {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 600px;
}

/* Estilos de Formulários */
form div {
  margin-bottom: 15px;
}

label {
  font-weight: bold;
  margin-bottom: 5px;
  display: block;
}

input[type="text"],input[type="password"],
textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
  box-sizing: border-box;
  margin-bottom: 5px;
}

textarea {
  height: 100px;
}

button {
  background-color: #28a745;
  color: #fff;
  border: none;
  padding: 10px 15px;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #218838;
}

/* Estilos de Lista de Tarefas */
ul {
  list-style-type: none;
  padding: 0;
}

li {
  background-color: #f9f9f9;
  margin-bottom: 10px;
  padding: 15px;
  border-radius: 4px;
  border: 1px solid #ddd;
}

li strong {
  font-size: 18px;
  color: #333;
}

li p {
  margin: 10px 0;
}

a {
  color: #007bff;
  text-decoration: none;
  margin-right: 10px;
}

a:hover {
  text-decoration: underline;
}

.delete-link {
  color: #dc3545;
}

.delete-link:hover {
  text-decoration: underline;
}

/* Estilos de Erros */
small {
  display: block;
  margin-top: 5px;
}


.breadcrumb {
  padding: 10px 16px;
  list-style: none;
  background-color: #eee;
}

.breadcrumb > li {
  display: inline;
  font-size: 18px;

  background-color: #d11b1b00;
  margin-bottom: 0px;
  padding: 0;
  border: none;
}
.breadcrumb li+li:before {
  padding: 8px;
  color: black;
  content: "/\00a0";
}
.breadcrumb li a {
  color: #0275d8;
  text-decoration: none;
}
.breadcrumb li a:hover {
  color: #01447e;
  text-decoration: underline;
}